/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Playpen Sans", cursive;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: none;
  padding: 20px 43px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}
.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  font-family: "playpen sans", cursive;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0;
  line-height: 29px;
}

/* banner style */

.banner {
  background: rgba(229, 84, 115, 0.1);
}
.banner-content {
  width: 1340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.banner-items {
  width: 50%;
}
.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 75px;
  font-weight: 800;
}
.banner-discription {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 36px;
}
.banner-img {
  width: 635px;
  height: 775px;
  padding-top: 20px;
  display: flex;
  justify-content: end;
}
.banner-img img {
  height: 775px;
}

/* our-featured-flowers styles */
.our-featured-flowers {
  margin-top: 160px;
}
.our-featured-flowers .section-title {
  width: 680px;
  margin: 0 auto;
  padding-bottom: 24px;
}
.our-featured-flowers .section-description {
  width: 680px;
  margin: 0 auto;
}
.flowers-content {
  display: flex;
  margin: 48px auto;
  width: 1340px;
  justify-content: space-between;
}
.flower-items {
  width: 32.3%;
}
.flower-items .flower-img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 100% !important;
  height: 100% !important;
}
.flower-img {
  display: flex;
  justify-content: center;
  align-items: end;
}
.flower-name {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 20px;
}

/*  blogs section style start */

.blogs {
  width: 1340px;
  margin: 128px auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.blogs-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
}
.blogs-items {
  text-align: center;
}
.blogs-items p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* discount section style */
.discount-deal {
  background: rgba(229, 84, 115, 0.05);
}
.discount-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1340px;
  margin: 128px auto;
  padding: 100px 0;
}
.discount-details .section-description {
  margin: 20px 0;
}

.instagram-content{
    width: 1340px;
    margin: 48px auto;
    display: flex;
}
.instagram-content img{
    width: 23.5%;
    margin: 0.8%;
}
/* Get-the-latest-deals section style */

.Get-the-latest-deals{
    width: 1340px;
    height: 449px;
    border-radius: 8px;
    margin: 100px auto;
    background-image: url('../assets/Rectangle\ 9.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-form{
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 610px;
    margin: 20px 10px;
}

/* footer section */
#flower-footer{
    background-color: #111010;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flower-shop{
    margin: 124px 0;
}
.flower-shop .section-title{
    color: white;
}
.flower-shop> p{
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
}
.flower-shop> h5{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}